body {
  background: #fcfaf0;
  color: #383a37;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  margin: 0;
}

header {
  background: #e79074;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  padding: 0.5em 2em;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.content {
  padding: 1em 2em; 
}

.highlight-cell {
  border-left: 5px solid  #e79074 !important;
}

table.truth-table thead tr th {
  background: #e6b8a9;
  color: white;
  font-weight: bold;
  &.name {
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
  }
}

p.signature {
  font-size: 0.8em;
  text-transform: lowercase;
}